.header-top{
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	background-color: none;
	h1{
		-webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	    padding-top: 31px;
		margin-bottom: 31px;
	}
	ul{

		li{
			-webkit-transition: all 0.5s ease;
		    -moz-transition: all 0.5s ease;
		    -o-transition: all 0.5s ease;
		    transition: all 0.5s ease;
			padding: 38px 7px 0 7px;
			margin-bottom: 38px;

		}
	}
}

.header-scrolled{
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	background-color: $color-yellow;
	h1{
		-webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	    padding-top: 23px;
		margin-bottom: 19px;
	}
	ul{
		li{
			-webkit-transition: all 0.5s ease;
		    -moz-transition: all 0.5s ease;
		    -o-transition: all 0.5s ease;
		    transition: all 0.5s ease;
			padding: 30px 7px 0 7px;
			margin-bottom: 30px;
			&:hover {
				-webkit-transition: all 0.2s ease;
			    -moz-transition: all 0.2s ease;
			    -o-transition: all 0.2s ease;
			    transition: all 0.2s ease;
				border-top: 4px solid $color-black;
				padding-top: 26px;
				background-color: $color-yellow;
			}
		}
	}
}

header {
	z-index: 2;
	width: 100%;
	position: fixed;
	overflow: hidden;
	h1{
		font-family: 'Merriweather', serif;
		color: $color-black;
		letter-spacing: 0.34em;
		font-size: 38px;
		display: inline;
		float: left;
		padding-top: 31px;
	}
	nav{
		float: right;
		position: fixed-top;
		ul {
			li {
				display: inline-block;
				padding: 38px 7px 0 7px;

				margin-bottom: 38px;
				a {
					font-family: $font-montserrat;
					font-size: 16px;
					font-weight: 300;
					letter-spacing: 0.08em;
					color: $color-black;
					text-transform: uppercase;
					text-decoration: none;

				}
				&:hover {
					-webkit-transition: all 0.2s ease;
				    -moz-transition: all 0.2s ease;
				    -o-transition: all 0.2s ease;
				    transition: all 0.2s ease;
					border-top: 4px solid $color-yellow;
					padding-top: 34px;
					background-color: #d7d7d7;
				}
			}

		}
	}
	&:after{
		display: block;
		content: "";
		clear: both;
	}
}
